<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DotNetShipping.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="UPSLicenseNumber" value="" />
        <add key="UPSUserId" value="" />
        <add key="UPSPassword" value="" />
        <add key="FedExKey" value="" />
        <add key="FedExPassword" value="" />
        <add key="FedExAccountNumber" value="" />
        <add key="FedExMeterNumber" value="" />
        <add key="FedExHubId" value="5531" />
        <add key="FedExUseProduction" value="false" />
        <add key="USPSUserId" value="" />
    </appSettings>
    <applicationSettings>
        <DotNetShipping.Properties.Settings>
            <setting name="DotNetShipping_RateServiceWebReference_RateService" serializeAs="String">
                <value>
                    https://wsbeta.fedex.com:443/web-services/rate
                </value>
            </setting>
        </DotNetShipping.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
