<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UPSLicenseNumber" value="" />
		<add key="UPSUserId" value="" />
		<add key="UPSPassword" value="" />
		<add key="FedExAccountNumber" value="" />
		<add key="FedExMeterNumber" value="" />
		<add key="USPSUserId" value="" />
		<add key="USPSPassword" value="" />
	</appSettings>
</configuration>